body {
    background-color: #202020;
    color : whitesmoke
}

.navbar{
    background-color: #404040;
    padding: 20px 10px;
}

.navbar ul li a {
    color:white;
    text-decoration:none;
}

.navbar ul li{
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.navbar ul li a:hover{
    color:aqua;
}

.container{
    max-width: 1200px;
    /*border: solid 1px;*/
    margin: auto;
    padding: 20px 0;
}
.card{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}
